*{
  box-sizing: border-box;
  font-size: system-ui;
  margin: 0;
}

body, html{
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: white;
}

.wrapper{
  display: grid;
  place-content: center;
  height: 100%;
}

#username-form{
  display: flex;
  gap: 10px;
}

.chat{
  width: 300px;
  height: 500px;
  box-shadow: 0px 0px 5px 2px grey;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 	10px;
  padding: 10px;
  position: relative;
}

.chat > *{
  width: 100%;
}

.messages-container{
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  border-bottom: 2px solid grey;
  gap: 5px;
  padding: 5px;
  scrollbar-gutter: stable;
}

li{
  list-style-type: none;
}

form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:5px;
  padding: 5px;
  height: 30px;
}

#message{
  border:none;
  flex: 1;
  padding: 10px;
  outline: none;
}

.single-message{
  color: white;
  max-width: 90%;
  padding: 10px;
  border-radius: 10px 0px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.own-message{
  align-self: flex-end;
  background-color: green;
  animation: own-message .15s ease;
}

.external-message{
  align-self: flex-start;
  background-color: lightgrey;
  animation: external-message .15s ease;
}

@keyframes own-message{
  from{
    margin-right: 50px;
  }

  to{
    margin-right: 0;
  }
}

@keyframes external-message{
  from{
    margin-left: 50px;
  }

  to{
    margin-left: 0px;
  }
}

.send-button{
  padding: 10px;
  background:transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.send-button > svg{
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

#user-count-container{
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  top: -35px;
  margin: 10px 0px 0px 10px;
  text-align: right;
}

.active-dot{
  width: 15px;
  height: 15px;
  background: rgb(92, 239, 92);
  border-radius: 50%;
  position: relative;
}

.active-dot::before{
  position: absolute;
  content: "";
  width: 15px;
  left: 0;
  height: 15px;
  border-radius: 50%;
  background: rgb(92, 239, 92);
  animation: circle-intermitent 1s ease infinite;
}

@keyframes circle-intermitent{
  from{
    opacity: .7;
  }

  to{
    opacity: 0;
    transform: scale(200%);
  }
}